.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.header__container {
    padding: 1rem 1rem 5rem 1rem;
}

.header__image__container {
    position: relative;
    min-height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.header__content {
    max-width: 600px;
    padding: 5rem 2rem;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
}

.header__content p {
    color: var(--extra-light);
}

.booking__container {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
}



